.category-navigation {
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
}

.category-list {
    gap: 0.5rem;
    padding: 0.5rem 0;

}

/*::deep позволяет изолированному CSS родительского Blazor-компонента стилизовать HTML, созданный дочерним компонентом.
Это не стандартный CSS. Это специальная конструкция Blazor CSS isolation, которая обрабатывается во время сборки проекта.*/

::deep .category-link {
    position: relative;
    padding: 0.5rem 0.75rem;
    color: var(--color-text-muted);
    border-radius: var(--border-radius-sm);
    font-weight: 600;
    white-space: nowrap;
}

    ::deep .category-link:hover {
        color: var(--color-primary);
        background-color: var(--color-primary-light);
    }

    ::deep .category-link.active {
        color: var(--color-primary);
        background-color: var(--color-primary-light);
    }
